#spot-component-image{
    width:300px;
    height:200px;
}

.component-img{
    margin-right:20px;
}

.spot-component-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
