.individual-image-container{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
#individual-image-small-top img:last-child{
    border-top-right-radius: 20px;
}
#individual-image-small-bottom img:last-child{
    border-bottom-right-radius: 20px;
}
#individual-image-big{
    width:580px;
    height:480px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#individual-image-small{
    width: 280px;
    height: 235px;
    object-fit: cover;
}
#individual-image-small-container img{
    margin-bottom: 10px;
    margin-left: 10px;
}
#individual-image-small-container > div{
    display: flex;
    flex-direction: row;
}
#spot-user-photo{
    object-fit: cover;
    width:60px;
    height:60px;
    border-radius: 30px;
}
div.intro-profile-photo{
    width:60px;
    height:60px;
}
.individual-spot-container{
    font-size:16px;
    margin-bottom:50px;
}

.individual-spot-page{
    margin:auto;
    margin-top: 20px;
    width: 1200px;
    font-size:16px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.individual-title p{
    font-weight: 600;
    font-size: 30px;
    margin: 0px;
}
.individual-location p{
    color: rgb(135,113,113);
    font-size: 14px;
    text-decoration: underline;
}

.individual-bottom-container{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.intro-info{
    display: flex;
    flex-direction: row;
}
#intro-title{
    font-size: 24px;
    margin-bottom: 10px;
}
.intro-profile-photo{
    margin-left: 175px;
}
#intro-floor-plan{
    margin-top:20px;
}
.bottom-left{
    width:750px;
}
.calendar{
    display: flex;
    flex-direction: row;
}
.intro-info{
    padding-bottom:15px;
    border-bottom: rgb(221,221,221) 2px solid;
}
.description{
    border-bottom: rgb(221,221,221) 2px solid;
}
.amenitiesContainer{
    margin-top: 20px;
    display:flex;
    flex-direction: row;

}
#rightAmenities{
    margin-left: 15px;
}
#leftAmenities > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#rightAmenities > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#leftAmenities > div > div{
    margin-right: 10px;
}
#rightAmenities > div > div{
    margin-right: 10px;
}
#showMoreButton, #showLessButton{
    cursor: pointer;
    background-color: white;
    border: rgb(221,221,221) 2px solid;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    margin-bottom: 10px;
}
.amenities{
    border-bottom: rgb(221,221,221) 2px solid;
}
.calendar{
    margin-top: 20px;
}
.calendar-end{
    margin-left: 40px;
}

.create-booking-div{
    margin-left: 40px;
    border: rgb(221,221,221) 2px solid;
    border-radius: 30px;
    height: 390px;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* position:sticky;
    top: 280px; */
    /* top: 7rem; */
}
.create-booking-div:hover{
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.cost-per-night-booking{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}
.booking-cost-per-night-number{
    font-size: 24px;
    font-weight: 600;
}
.booking-cost-per-night-text{
    font-size: 20px;
}
.booking-information{
    width: 300px;
    height: 135px;
    border: rgb(221,221,221) 2px solid;
    border-radius:20px;
    margin-left: 20px;
}
.booking-information-top{
    display: flex;
    flex-direction: row;
}

.booking-checkIn-dropdown, .booking-checkOut-dropdown{
    position:absolute;
}
.booking-checkIn-container{
    border-right:rgb(221,221,221) 2px solid;
    width: 130px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom:rgb(221,221,221) 2px solid;
}
.start-text-label, .end-text-label{
    margin-bottom: 5px;
    font-weight: 550;
}
.booking-checkOut-container{

    width: 130px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom:rgb(221,221,221) 2px solid;
}
.booking-information-bottom{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-information-bottom input{
    width: 100px;
    margin-left: 10px;
    font-size:18px;
}
.booking-information-bottom label{
    font-size: 18px;
    font-weight: 550;
}
.submit-booking-button button{
    /* background-color: rgb(255,56,92); */
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    color: white;
    border: 0;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.total-cost-booking{
    padding-left:20px;
    padding-top: 30px;
    margin-top: 30px;
    border-top:rgb(221,221,221) 2px solid;
    font-weight: 600;
    font-size:18px;
}
button:disabled{
    cursor: not-allowed;
    background-image: none;
    background-color: grey

}
