.individual-image-container{
    display: flex;
    flex-direction: row;
}
#individual-image-small-top img:last-child{
    border-top-right-radius: 20px;
}
#individual-image-small-bottom img:last-child{
    border-bottom-right-radius: 20px;
}
#individual-image-big{
    width:580px;
    height:480px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#individual-image-small{
    width: 280px;
    height: 235px;
    object-fit: cover;
}
#individual-image-small-container img{
    margin-bottom: 10px;
    margin-left: 10px;
}
#individual-image-small-container > div{
    display: flex;
    flex-direction: row;
}
#spot-user-photo{
    object-fit: cover;
    width:60px;
    height:60px;
    border-radius: 30px;
}
div.intro-profile-photo{
    width:60px;
    height:60px;
}

.individual-spot-page{
    margin:auto;
    margin-top: 20px;
    width: 1200px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.individual-title p{
    font-weight: 600;
    font-size: 30px;
    margin: 0px;
}
.individual-location p{
    color: rgb(135,113,113);
    font-size: 14px;
    text-decoration: underline;
}

.individual-bottom-container{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.intro-info{
    display: flex;
    flex-direction: row;
}
#intro-title{
    font-size: 24px;
    margin-bottom: 10px;
}
.intro-profile-photo{
    margin-left: 175px;
}
#intro-floor-plan{
    margin-top:20px;
}
.bottom-left{
    width:750px;
}
.calendar{
    display: flex;
    flex-direction: row;
}
.intro-info{
    padding-bottom:15px;
    border-bottom: rgb(221,221,221) 2px solid;
}
