
.home-search-bar > form{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.home-search-bar{
    display: flex;
    align-items: center;
    border: rgb(221,221,221) 2px solid;
    border-radius: 50px;
    height: 70px;
    width: 750px;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset;
}
#cityname-search{
    border: 0;
    border-right:rgb(221,221,221) 2px solid;
    outline:none;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    width: 180px;
}
.search-bar-start, .search-bar-end{
    display:flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    width: 150px;
    border: 0;
    border-right:rgb(221,221,221) 2px solid;
}
#start-text, #end-text{
    margin-left: 10px;
}
.dropdown-start{
    position: absolute;
    top:70px;
}
.dropdown-end{
    position: absolute;
    top:70px;
}
.search-bar-guests{
    display: flex;
    justify-content: center;

}
#search-bar-guests-input{
    border: 0;
    border-right:rgb(221,221,221) 2px solid;
    outline:none;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    width: 100px;
}
.button-search-submit{
    cursor: pointer;
    margin-left:10px;
    width: 100px;
    height: 50px;
    border:0;
    border-radius: 30px;
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 550;
    font-size: 18px;
    color: white;
    /* background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%); */
    background-color: rgb(255,56,92);
}
/*
.home-search-bar{

}
.search-bar *{
    border:0;
}
#cityname-search:hover{
    background-color: rgb(164,164,164,.2);
} */
